<html>
    <head>
        <title>Rock Paper Scissors!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Result:</h1>
            {% if player_wins is not empty %}
                <h2><mark>You Win!</mark></h2>
            {% elseif draw_game is not empty %}
                <h2><mark>Draw!</mark></h2>
            {% else %}
                <h2><mark>Computer Wins!</mark></h2>
            {% endif %}

            <h4>You chose: {{ player_choice }}</h4>
            <h4>The computer chose: {{ computer_choice }}</h4>

            <form action="/">
                <button type='submit' class='btn btn-default btn-block'>Home</button>
            </form>
        </div>
    </body>
</html>
